<div class="title">
  <h1>Ingredients</h1>
</div>

<div class="title">
  <div class="links">
      <%= link_to "Create new ingredient", new_ingredient_path %>
  </div>
</div>

<% if @ingredients.any? %>
  <% @ingredients.each do |ingredient| %>
    <div class="card">
      <%= link_to ingredient.name, ingredient_path(ingredient) %>
    </div>
  <% end %>

<% else %>
  <p claas="title">There are no ingredients yet. </p>
<% end %>
