<div id="home-container">
  <div id="total-container">
    <div class="total-card">
      <p>Total Recipes <%="#{@recipes_total}"%></p>
    </div>
    <div class="total-card">
      <p>Total Ingredients <%="#{@ingredients_total}"%></p>
    </div>
  </div>

    <a href="/recipes">Go To Recipies</a>
    <a href="/ingredients">Go To Ingredients</a>
</div>
