 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
 :root {
  --util-max: 100%;
  --util-max-vh: 100vh;

  --page-lg-width: 75%;
  --page-sml-width: 95%;
  --page-nav-height: 6vh;
  --page-height: calc(var(--util-max-vh) - var(--page-nav-height));

  --def-light-color: beige;
  --def-one-border-dark: 1px solid black;
  --def-inset-fade-dark: inset 0px 0px 100px 0px #00000037;
  --def-inset-fade-light: inset 0px 0px 100px 0px rgba(255, 255, 255, 0.048);
  --def-box-shadow-dark: 0px 0px 4px 0px black;

  --lib-rich-black: #0a0f0dfa;
  --lib-sky-blue-crayola: #bceff6;
}
* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Abril Fatface', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:rgb(61, 60, 60);
  min-height: 100vh;
}
#nav {
  width: 100%;
  background-color: rgb(48, 48, 48);
  padding: 2px 3%;
  box-shadow:
    inset 0px 0px 1px black,
    0px 3px 5px rgba(0, 0, 0, 0.555);
  height: var(--page-nav-height);
  color: var(--def-light-color);
  display: flex;
  align-items: center;
}
#back-plate {
  width: 80%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.103);
  border: 1px solid rgba(129, 129, 129, 0.322);
  box-shadow:
    inset 0px 0px 5px rgba(0, 0, 0, 0.466),
    0px 0px 2px rgba(0, 0, 0, 0.637),
    0px 0px 0px 2px rgba(218, 165, 32, 0.137);
  min-height: var(--page-height);
}
.card {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  box-shadow: inset 0px 0px 0px 2px white;
  background-color: rgba(0, 0, 0, 0.793);
  padding: 20px
}
.card a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.card:hover {
  background-color: rgb(27, 27, 27);
}
.title {
  width: 100%;
}
#home-container {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: wrap;
  padding-top: 150px;
  height: var(--page-height);
}
#total-container {
  font-size: 76px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.total-card {
  flex: 1;
}
a {
  color: rgb(58, 58, 58);
  text-decoration: none;

}
a:hover {
  color: rgb(255, 164, 164);
  transition: .2s;
}
#nav a {
  color: rgb(253, 253, 253);
  margin-right: 20px;
}
#nav a:hover{
  color: rgb(255, 164, 164);
  transition: .2s;
}
.links a {
  color: rgb(216, 76, 76);
}

.links a:hover {
  color:rgb(255, 164, 164);
}